[Desktop Entry]
Comment=EndeavourOS like theme for plasma
Name=EndeavourOS
X-KDE-PluginInfo-Author=Pomaranczarz
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=and.cza553@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=EndeavourOS
X-KDE-PluginInfo-Version=1.0.2
X-Plasma-API=5.0
